@model IEnumerable<Brianzo_Inmobiliaria.Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h1>
	Listado de Usuarios
	<div class="btn-group pull-right">
		<a class="btn btn-primary" asp-action="Create" title="Crear nuevo Usuario"><i class="fa-solid fa-plus"></i></a>
	</div>
</h1>


@if(TempData["creado"] !=  null){
    <div class="alert alert-success" role="alert">
    Usuario Creado Exitosamente
    </div>
}


@if(TempData["eliminado"] !=  null){
<div class="alert alert-danger" role="alert">
    Usuario Eliminado Exitosamente
</div>
}

@if(TempData["editado"] !=  null){
<div class="alert alert-warning" role="alert">
    Usuario Editado Exitosamente
</div>
}

@if(TempData["Otro"] !=  null){
<div class="alert alert-danger" role="alert">
    @TempData["Otro"]
</div>
}

<div class="card">
  <div class="card-header">
    Lista de Usuarios

  </div>
  <div class="card-body">
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avatar)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rol)
            </td>
            <td>
                <img src="@(item.Avatar == ""?"/Uploads/av1.jpg":item.Avatar)" class="rounded-circle" style="width: 30px;height: 30px;" alt="Avatar" />
            </td>
             <td>           
             <div class="btn-group" role="group">
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id_Usuario"
                                    title="Editar">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id_Usuario"
                                    title="Detalle">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                  @if(User.IsInRole("Administrador")){
                                  <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_Usuario"
                                    title="Eliminar">
                                    <i class="fa-solid fa-trash-can"></i>
                                  </a> 
                                }                              
                                
                            </div>  
                             </td>
        </tr>
}
    </tbody>
</table>


  </div>
</div>


