@model IEnumerable<Brianzo_Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Reporte de Contratos Vigentes";
}

<h2>Reporte de Contratos Vigentes</h2>
<p>Listar todos los contratos de alquiler que se encuentren vigentes
(por fecha desde y hasta).</p>


<div class="card">
  <div class="card-header">
    Reporte de Contratos Vigentes

  </div>
  <div class="card-body">
    

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id_Contrato)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Inicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Fin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Monto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Id_Inmueble)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Id_Inquilino)
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Contrato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_Inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_Fin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
                    </td>
                    <td>
                        @(item.Inquilino.Nombre + ' ' +  item.Inquilino.Apellido)
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>

  </div>
</div>

