@model IEnumerable<Brianzo_Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Reporte de Contratos";
    var listaInmuebles = (List<Inmueble>)ViewBag.listaInmuebles;
}

<h2>Reporte de Contratos por Inmueble</h2>
<p>Listar todos los contratos, incluyendo su inquilino, de un inmueble
en particular.</p>

<div class="card">
  <div class="card-header">
    Filtros
  </div>
  <div class="card-body">
    
 <form asp-action="ContratosInmuebles">
    <div class="row">
    <div class="col-md-2">
          <label class="control-label">Inmueble</label>
            <select class="form-control" name="Id_Inmueble">
                <option value="" selected>Todos</option>
                @foreach (var item in listaInmuebles)
                {
                    @:<option  value="@item.Id_Inmueble">@(item.Direccion)</option>
                }
            </select>
    </div>
    <div class="col-md-1 mt-4">
        <input type="submit" value="Filtrar" class="btn btn-primary" />
    </div>
</div>
 </form>
  </div>
</div>



<br>

<div class="card">
  <div class="card-header">
    Reporte de Contratos por Inmueble
  </div>
  <div class="card-body">
    

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id_Contrato)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Inicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Fecha_Fin)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Monto)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Id_Inmueble)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Id_Inquilino)
                    </th>
                </tr>
            </thead>
            <tbody>
        @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id_Contrato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_Inicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fecha_Fin)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
                    </td>
                    <td>
                        @(item.Inquilino.Nombre + ' ' +  item.Inquilino.Apellido)
                    </td>
                </tr>
        }
            </tbody>
        </table>
    </div>
</div>


  </div>
</div>

