@model Brianzo_Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Crear Contrato";
    var listaInmuebles = (List<Inmueble>)ViewBag.listaInmuebles;
    var listaInquilinos = (List<Inquilino>)ViewBag.listaInquilinos;
    var id_inmueble = (int)(ViewBag.id_inmueble != null? ViewBag.id_inmueble : 0 );
    var id_inquilino = (int)(ViewBag.id_inquilino != null? ViewBag.id_inquilino : 0 );
}

 @if(id_inmueble > 0 && id_inquilino > 0){
     <h2>Renovar Contrato</h2>
 }
 else{
     if(id_inmueble > 0){
    <h2>Crear Contrato</h2>
    }
    else{
        <h2>Crear Contrato</h2>
    }
 }

<hr />


<div class="card">
  <div class="card-header">
    Datos de Contrato
  </div>
  <div class="card-body">
    

<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Fecha_Inicio" class="control-label"></label>
                <input type="date" name="Fecha_Inicio" required class="form-control" />
                <span asp-validation-for="Fecha_Inicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_Fin" class="control-label"></label>
                <input type="date" name="Fecha_Fin" required class="form-control" />
                <span asp-validation-for="Fecha_Fin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
          <div class="form-group">
                <label class="control-label">Inmueble</label>
                <select class="form-control" name="Id_Inmueble">
                    @foreach (var item in listaInmuebles)
                    {
                        @:<option @(id_inmueble == item.Id_Inmueble? "Selected":"" )  value="@item.Id_Inmueble">@(item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
             </div>
             <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select class="form-control" name="Id_Inquilino">
                    @foreach (var item in listaInquilinos)
                    {
                        @:<option @(id_inquilino == item.Id_Inquilino? "Selected":"" )  value="@item.Id_Inquilino">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
             </div>
            <div class="form-group">
                <br>
                @if(id_inmueble > 0 && id_inquilino > 0){
                <input type="submit" value="Renovar" class="btn btn-primary" />
                    }
                    else{
                        if(id_inmueble > 0){
                        <input type="submit" value="Crear" class="btn btn-primary" />
                        }
                        else{
                            <input type="submit" value="Crear" class="btn btn-primary" />
                        }
                    }               
            </div>
        </form>
    </div>
</div>

  </div>
</div>



<br>
<div>


 @if(id_inmueble > 0 && id_inquilino > 0){
     <a asp-action="Index"class="btn btn-secondary">Volver al listado</a>
 }
 else{
     if(id_inmueble > 0){
    <a asp-action="BuscarInmuebles" class="btn btn-secondary" asp-controller="Inmuebles">Volver al listado</a>
    }
    else{
        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
    }
 }


</div>

