@model Brianzo_Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Editar Contrato";
    var listaInmuebles = (IList<Inmueble>)ViewBag.listaInmuebles;
    var listaInquilinos = (IList<Inquilino>)ViewBag.listaInquilinos;
}

<h2>Editar Contrato</h2>

<hr />

<div class="card">
  <div class="card-header">
    Editar Contrato
  </div>
  <div class="card-body">
    
<div class="row">
    <p>Para modificar las fechas será necesario eliminar el contrato y crear uno nuevo.</p>
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id_Contrato" value="@Model.Id_Contrato" />
                      <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Inmueble</label>
                <select class="form-control" name="Id_Inmueble">
                    @foreach (var item in listaInmuebles)
                    {
                        @:<option @(item.Id_Inmueble==Model.Id_Inmueble ? "selected" : "") value="@item.Id_Inmueble">@(item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
             </div>
             <div class="form-group">
                <label class="control-label">Inquilino</label>
                <select class="form-control" name="Id_Inquilino">
                    @foreach (var item in listaInquilinos)
                    {
                        @:<option @(item.Id_Inquilino==Model.Id_Inquilino ? "selected" : "") value="@item.Id_Inquilino">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="Id_Inquilino" class="text-danger"></span>
             </div>
            <div class="form-group">
                <br>
                <input type="submit" value="Editar" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>


  </div>
</div>


<br>
<div>
    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
</div>

