@model Brianzo_Inmobiliaria.Models.Contrato

@{
    ViewData["Title"] = "Finalizar Contrato";
    var id_inquilino = (int)(ViewBag.id_inquilino != null? ViewBag.id_inquilino : 0 );
}

<h2>Finalizar Contrato</h2>

<div class="card">
  <div class="card-header">
    Finalizar Contrato
  </div>
  <div class="card-body">
    
<div>
    <h4>¿Seguro que desea Finalizar este contrato?</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Contrato)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Contrato)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Inicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Inicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Fin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Fin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Monto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Monto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Inmueble)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Inmueble.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Inquilino)
        </dt>
        <dd class = "col-sm-10">
            @(Model.Inquilino.Nombre + " " + Model.Inquilino.Apellido)
        </dd>
    </dl>
    <dl class="row">
        <dd class = "col-sm-10">
            El Monto Cancelacion es: @ViewBag.Monto
        </dd>
    </dl>
    
    <form asp-action="FinalizarContrato">
        <input type="submit" value="Finalizar" class="btn btn-danger" /> |

         @if(id_inquilino > 0){
            <a asp-action="ContratosPorInquilino" asp-controller="Contratos" asp-route-id="@id_inquilino"  class="btn btn-secondary">Volver al listado</a>
        }
        else{
            <a asp-action="Index"class="btn btn-secondary">Volver al listado</a>
        }
        
    </form>
</div>


  </div>
</div>



