@model IEnumerable<Brianzo_Inmobiliaria.Models.Contrato>

@{
    ViewData["Title"] = "Listado de Contratos";
}

<h2>Listado de Contratos

<div class="btn-group pull-right">
		<a class="btn btn-primary" asp-action="Create" title="Crear nuevo contrato"><i class="fa-solid fa-plus"></i></a>
</div>
</h2>

@if(TempData["creado"] !=  null){
    <div class="alert alert-success" role="alert">
    Contrato Creado Exitosamente
    </div>
}


@if(TempData["eliminado"] !=  null){
<div class="alert alert-danger" role="alert">
    Contrato Eliminado Exitosamente
</div>
}

@if(TempData["editado"] !=  null){
<div class="alert alert-warning" role="alert">
    Contrato Editado Exitosamente
</div>
}

@if(TempData["Otro"] !=  null){
<div class="alert alert-danger" role="alert">
    @TempData["Otro"]
</div>
}


<div class="card">
  <div class="card-header">
    Listado de Contratos
  </div>
  <div class="card-body">
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Contrato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Inicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Inmueble)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Inquilino)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Contrato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Inicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Inmueble.Direccion)
            </td>
            <td>
                @(item.Inquilino.Nombre + ' ' +  item.Inquilino.Apellido)
            </td>
            <td>
                <div class="btn-group" role="group">
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id_Contrato"
                                    title="Editar">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id_Contrato"
                                    title="Detalles">
                                    <i class="fa-solid fa-eye"></i>
                                    
                                </a>
                                  @if(User.IsInRole("Administrador")){
                                  <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_Contrato"
                                    title="Eliminar">
                                    <i class="fa-solid fa-trash-can"></i>
                                  </a> 
                                }   
                                   <a class="btn btn-outline-primary" asp-controller="Pagos" asp-action="PagoPorContrato"  asp-route-id="@item.Id_Contrato"
                                    title="Pagar">
                                   <i class="fa-solid fa-money-check-dollar"></i>
                                </a>
                                
                @if(DateTime.Now >= item.Fecha_Inicio && DateTime.Now <= item.Fecha_Fin){                  
              <a class="btn btn-outline-danger" asp-controller="Contratos" asp-action="FinalizarContrato"  asp-route-id="@item.Id_Contrato"
                                    title="Ver Contratos">
                                   <i class="fa-solid fa-file"></i>
                                </a>
                } 
                 @if(DateTime.Now < item.Fecha_Inicio || DateTime.Now > item.Fecha_Fin){
                            @Html.ActionLink("Renovar", "RenovarContrato", "Contratos", new { id_inquilino=item.Id_Inquilino,id_inmueble = item.Id_Inmueble }, new { @class="btn btn-outline-success"}) 
                
                }
                            </div>
            </td>

        </tr>
}
    </tbody>
</table>


  </div>
</div>



