@model IEnumerable<Brianzo_Inmobiliaria.Models.Pago>

@{
    ViewData["Title"] = "Listado de Pagos";
}


<h1>
	Listado de Pagos
	<div class="btn-group pull-right">
		<a class="btn btn-primary" asp-action="Create" title="Realizar nuevo pago"><i class="fa-solid fa-plus"></i></a>
	</div>
</h1>

@if(TempData["creado"] !=  null){
    <div class="alert alert-success" role="alert">
    Pago Creado Exitosamente
    </div>
}


@if(TempData["eliminado"] !=  null){
<div class="alert alert-danger" role="alert">
    Pago Eliminado Exitosamente
</div>
}

@if(TempData["editado"] !=  null){
<div class="alert alert-warning" role="alert">
    Pago Editado Exitosamente
</div>
}

@if(TempData["Otro"] !=  null){
<div class="alert alert-danger" role="alert">
    @TempData["Otro"]
</div>
}

<div class="card">
  <div class="card-header">
    Listado de Pagos
  </div>
  <div class="card-body">
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Pago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Importe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Id_Contrato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Pago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Importe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Contrato)
            </td>
            <td>               
                 <div class="btn-group" role="group">
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id_Pago"
                                    title="Editar">
                                    <i class="fa-solid fa-pen"></i>
                                </a>
                                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id_Pago"
                                    title="Detalle">
                                    <i class="fa-solid fa-eye"></i>
                                </a>
                                  @if(User.IsInRole("Administrador")){
                                  <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id_Pago"
                                    title="Eliminar">
                                    <i class="fa-solid fa-trash-can"></i>
                                  </a> 
                                }                              
                                
                            </div>               
            </td>
        </tr>
}
    </tbody>
</table>



  </div>
</div>

