@model IEnumerable<Brianzo_Inmobiliaria.Models.Inquilino>

@{
    ViewData["Title"] = "Listado de Inquilinos";
}

<h2>Listado de Inquilinos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear nuevo inquilino</a>
</p>


@if(TempData["creado"] !=  null){
    <div class="alert alert-success" role="alert">
    Inquilino Creado Exitosamente
    </div>
}

@if(TempData["eliminado"] !=  null){
<div class="alert alert-danger" role="alert">
    Inquilino Eliminado Exitosamente
</div>
}

@if(TempData["editado"] !=  null){
<div class="alert alert-warning" role="alert">
    Inquilino Editado Exitosamente
</div>
}


<div class="card">
  <div class="card-header">
    Listado de Inquilinos
  </div>
  <div class="card-body">
    
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id=item.IdInquilino }, new { @class="btn btn-warning" }) |
                @Html.ActionLink("Detalles", "Details", new { id=item.IdInquilino }, new { @class="btn btn-info" }) |
                @if(User.IsInRole("Administrador")){
                     @Html.ActionLink("Eliminar", "Delete", new { id=item.IdInquilino }, new { @class="btn btn-danger" })
                }
                @Html.ActionLink("Ver Contratos", "ContratosPorInquilino","Contratos", new { id=item.IdInquilino }, new { @class="btn btn-outline-primary" }) |
            </td>
        </tr>
}
    </tbody>
</table>


  </div>
</div>
